<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatea con Kleer</title>
</head>
<body>
    <h1 id="nombre">Chatea con Kleer</h1>
    <% num= @mensajes.length-1
    @mensajes.each_with_index do |m,i|%>
    <div id="mensaje<%=num-i%>"><%=m%></div>
    <%end%>
    <form action="/chat" method="post">
        <input type="text" name="ingreso" id="ingreso"/>
        <input type="submit" value="Enviar"/>
    </form>
</body>
</html>