<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Ahorcado</title>
</head>
<body>
    <h1 id="nombre">Bienvenido a Ahorcado</h1>
    <form action="/juego" method="post">
        <input type="submit" value="Empezar"/>
    </form>
</body>
</html>