<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego del ahorcado</title>
</head>
<body>
    <h1 id="nombre">Juego del ahorcado</h1>
    <div id="resultado"><%=@texto_ahorcado%></div>
    <form action="/juego" method="post">
        <input type="text" name="letra" id="letra"/>
        <input type="submit" value="Jugar"/>
    </form>
</body>
</html>